<aside class="sidebar move">
  <div id="sidenav" class="hamburger-container"><div class="bar  "></div></div>
  <!-- <span>sidenav</span> -->
  <!-- <span>filter gallery</span> -->
  <h3>Quick Menu</h3>
  <!-- style -->
  <nav>
    <ul>
      <a href="/lineups/<%= user._id %>"><li>My Lineups</li></a>
      <hr>
      <a href="/lineups/<%= user._id %>/featured"><li>Featured Lineups</li></a>
      <hr>
      <a href="/card-collection"><li>Card Collection</li></a>
      <hr>
      <a href="/profile/<%= user._id %>/messages"><li>Direct Messages</li></a>
      <hr>
      <a href="/friends/<%= user._id %>"><li>My Friends</li></a>
      <hr>
      <a href="/friends"><li>Add Friends</li></a>
      <hr>
      <a href="/lineups/friends"><li>Friends' Lineups</li></a>
      <hr>
      <a href="/lineups/explore"><li>Explore</li></a>
      <hr>
      <a href="/store"><li>Store</li></a>
      <hr>
      <li style="cursor: pointer;" id="notifications">Notifications</li>
   
    </ul>
  </nav>
  <ul class="hide" id="notifications-modal">
    <a href="/profile/<%= user._id %>/messages"><li>Messages: 2</li></a>
    <hr>
    <a href="/lineups/<%= user._id %>"><li>Votes: 3</li></a>
    <hr>
    <a href="/friends/<%= user._id %>/friend-requests"><li>Friend Requests: 4</li></a>
    <hr>
    <a href="/profile/<%= user._id %>/achievements"><li>Achievements: 0</li></a>
  </ul>
</aside>
