<form
  id="reorder-lineup-form"
  action="/lineups/<%= lineup._id %>/edit/reorder-lineup?_method=PUT"
  method="POST"
  style="display: flex; flex-direction: column; gap: 1rem"
>
  <% ['pg', 'sg', 'sf', 'pf', 'c'].forEach(position => { %>
  <label for="<%= position %>"><%= position.toUpperCase() %></label>
  <select name="<%= position %>" id="<%= position %>">
    <option value="">Select Player</option>
    <% ['pg', 'sg', 'sf', 'pf', 'c'].forEach(p => { %> <% if (lineup[p]) { %>
    <option value="<%= lineup[p]._id %>">
      <%= lineup[p].firstName %> <%= lineup[p].lastName %>
    </option>
    <% } %> <% }); %>
  </select>
  <% }); %>
  <button id="reorder-lineup-submit" type="submit" class="lineup-btn">
    Save Lineup
  </button>
</form>
<script>
    
</script>