<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/_nav.ejs') %>
  <%- include('./landing/index.ejs') %>
  <%- include('./landing/welcome.ejs') %>
  <%- include('./landing/rating.ejs') %>
  <%- include('./landing/commenting.ejs') %>
  <%- include('./landing/add-friends.ejs') %>
  <%- include('./landing/gamble.ejs') %>
  <%- include('./landing/share.ejs') %>
  <%- include('./landing/featured.ejs') %>
  <%- include('./landing/footer.ejs') %>
  <div id="back-to-top">
    <a href="#landing"><i class="fa-solid fa-angle-up"></i></a>
  </div>
  <% if (user) { %>
  <%- include('./partials/sidenav.ejs') %>
  <% } %>
  <script src="/js/sidenav.js"></script>
</body>
</html>