<!DOCTYPE html>
<html lang="en">
<!-- Include head partial -->
<%- include('../partials/head.ejs') %>

<body>
  <!-- Include navigation partial -->
  <%- include('../partials/_nav.ejs') %>

  <section id="user-lineups">
    <h1>Friend's Lineups</h1>
    <span id="sort-lineup-activator">sort lineups<i style="margin-left: 5px;" class="fa-solid fa-sort"></i></span>
    <% if (lineups.length === 0) { %>
    <!-- Message and button to create a new lineup if none exist -->
    <p style="text-align: center; width: 100%;">
      None of your friends have created a lineup yet... maybe they need some inspiration from you 🤔
    </p>
    <button class="create-btn">
      <a href="/lineups/new">Create a lineup</a>
    </button>
    <% } %>
    <div class="lineup-container ">
      <% lineups.forEach(lineup => { %>
      <!-- Lineup card with conditional class for owner -->
      <div class="lineup-card <% if (user._id.toString()===lineup.owner._id.toString()) { %> owner <% } %>">
        <header class="lineup-header">
          <% if (user._id.toString() === lineup.owner._id.toString()) { %>
          <!-- Edit button for lineup owner -->
          <a href="/lineups/<%= lineup._id %>/edit"><span class="lineup-edit">...</span></a>
          <% } %>
          <!-- Display lineup owner's username -->
          <h3 class="owner-username">
            <% if (user._id.toString()===lineup.owner._id.toString()) { %>
              My Lineup
            <% } else { %>
              <!-- ! issue when sorting -- owner is NOT populating correctly on sort -->
              <%= lineup.owner.username %>
            <% } %>
          </h3>
          <!-- Display average rating or N/A if not available -->
          <% if (lineup?.avgRating) { %>
          <h2 class="lineup-rating"><%= lineup?.avgRating.toFixed(2); %></h2>
          <% } else { %>
          <h2 class="lineup-rating">Rating: N/A</h2>
          <% } %>
          <!-- Display relative time of creation or default to 4 hr ago -->
          <% if (lineup?.relativeTime) { %>
          <span class="lineup-relativeTime <% if (user._id.toString()!==lineup.owner._id.toString()) { %> other-user <% } %>">est. <%= lineup?.relativeTime %></span>
          <% } else { %>
          <span class="lineup-relativeTime">4 hr ago</span>
          <% } %>
        </header>
        <div <% if (user._id.toString()!==lineup.owner._id.toString()) { %> style="margin-top:2.5rem" <% } %> class="lineup-players">
          <!-- Display players in the lineup for each position -->
          <% ['pg', 'sg', 'sf', 'pf', 'c'].forEach(position => { %>
          <% if (lineup[position]) { %>
          <div class="player">
            <img data-value="<%= lineup[position].value %>" src="<%= lineup[position].imgUrl %>" alt="<%= lineup[position].firstName %> <%= lineup[position].lastName %>" />
            <span class="player-name"><%= lineup[position].firstName %> <%= lineup[position].lastName %></span>
          </div>
          <% } %>
          <% }); %>
        </div>
        <footer class="lineup-footer">
          <div class="lineup-actions">
            <!-- Vote buttons and form -->
            <div class="vote-btn-container">
              <!-- upvote -->
              <form class="vote-form <% if (user._id.toString() === lineup.owner._id.toString()) { %> disabled-btn <% } %>" action="/lineups/<%= lineup._id %>/upvote/friends" method="POST">
                <input type="hidden" id="upvote" name="upvote" value="upvote">
                <button data-lineup-id="<%= lineup._id %>" <% if (user._id.toString() === lineup.owner._id.toString()) { %> disabled <% } %> type="submit" class="lineup-btn up-vote <% if (user._id.toString() === lineup.owner._id.toString()) { %> disabled-btn <% } %>"><i class="fa-solid fa-circle-arrow-up"></i></button>
              </form>
              <!-- display votes -->
              <span class="num-of-votes"><% if (lineup?.totalVotes) { %> <%= lineup?.totalVotes %> <% } else { %> 0 <% } %></span>
              <!-- down votes -->
              <form class="vote-form <% if (user._id.toString() === lineup.owner._id.toString()) { %> disabled-btn <% } %>" action="/lineups/<%= lineup._id %>/downvote/friends" method="POST">
                <button <% if (user._id.toString() === lineup.owner._id.toString()) { %> disabled <% } %> type="submit" class="lineup-btn down-vote <% if (user._id.toString() === lineup.owner._id.toString()) { %> disabled-btn <% } %>">
                  <input type="hidden" id="downvote" name="downvote" value="downvote">
                  <i class="fa-solid fa-circle-arrow-down"></i>
                </button>
              </form>
            </div>
            <div class="action-btn-container">
                    <!-- Comment button and form -->
            <div class="comment-btn-container">
              <form action="/lineups/<%= lineup._id %>/comment" method="GET">
                <button type="submit" class="lineup-btn comment-btn"><i class="fa-regular fa-comment"></i>
                  <span class="comment-num"><% if (lineup?.comments) { %> <%= lineup?.comments.length %> <% } else { %> 4 <% } %></span>
                </button>
              </form>
            </div>
            <!-- Feature or Rate button based on ownership -->
            <% if (user._id.toString() === lineup.owner._id.toString()) { %>
            <div class="award-btn-container">
              <form action="">
                <button class="award-btn"><i class="fa-solid fa-award"></i></button>
              </form>
            </div>
            <% } else { %>
            <div class="rate-btn-container">
              <a href="/lineups/<%= lineup._id %>/rate">
                <button class="rate-btn">Rate <i class="fa-solid fa-gavel"></i></button>
              </a>
            </div>
            <% } %>
            <!-- Share button and form -->
            <div class="share-btn-container">
              <form action="/lineups/<%= lineup._id %>/share" method="GET">
                <button type="submit" class="lineup-btn share"><i class="fa-solid fa-share"></i><span>Share</span></button>
              </form>
            </div>
      
            </div>

          </div>
        </footer>
      </div>
      <% }); %>
    </div>
    <%- include('../partials/sort-explore-lineups-form.ejs') %>
 
    <%- include('../partials/sidenav.ejs') %>

  </section>

  <!-- External JavaScript for rating color -->
  <script src="/js/sidenav.js"></script>
  <script src="/js/sort-lineups.js"></script>

  <script src="/js/rating-color.js"></script>
  <script>
    ///////////////////////////
    // upvote refresh
    ///////////////////////////
    document.querySelectorAll(".lineup-btn.up-vote").addEventListener("click", async (e) => {
  e.preventDefault();
  const lineupId = e.target.dataset.lineupId; // Assuming the button has a data attribute with the lineup ID
 location.reload();

});
    ///////////////////////////
    // Downvote refresh
    ///////////////////////////
    document.querySelectorAll(".lineup-btn.down-vote").addEventListener("click", async (e) => {
  e.preventDefault();
  const lineupId = e.target.dataset.lineupId; // Assuming the button has a data attribute with the lineup ID

  try {
    const response = await fetch(`/lineups/downvote/${lineupId}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "same-origin",
    });

    if (response.ok) {
      // Refresh the page on successful upvote
      location.reload();
    } else {
      // Handle error response
      const errorText = await response.text();
      alert(errorText);
    }
  } catch (err) {
    console.error("Error downvoting lineup:", err);
    alert("An error occurred while downvoting the lineup.");
  }
});

  </script>
</body>

</html>
