<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/_nav.ejs') %>

    <section id="edit-lineup">
      <h1>Roll the Dice</h1>
  
      <div class="lineup-container">
    
        <div class="lineup-card">
        
          <div class="lineup-players gamble">
     
            <div class="player">
              <img
                src="<%= player.imgUrl %>"
                alt="<%= player.firstName %> <%= player.lastName %>"
              />
              <span class="player-name">
                <%= player.firstName %> <%= player.lastName %>
              </span>
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div class="player mystery">
                <img
                  src="/iamges/misc/default-user.jpg"
                  alt="mystery player"
                />
                <span class="player-name">
                 Name: ???
                </span>
                <span class="player-value">
                    Value: $?
                   </span>
              </div>
          </div>
          <footer class="lineup-footer">
            <div class="lineup-actions">
              <div class="move-btn-container">
                <form class="move-form" action="/lineups/<%= lineup._id %>/move-players" method="GET">
                 <input type="hidden" id="move-players" name="move-players">
                    <button type="submit" class="lineup-btn up-vote">
                        <span class="move-players-btn">
                            cancel
                          </span>
                          <i class="fa-solid fa-ban"></i>
                  </button>
                </form>
              </div>
              <div class="comment-btn-container">
                <form action="/lineups/<%= lineup._id %>/gamble/<%= player._id %>?_method=PUT" method="POST">
                  <button type="submit" class="lineup-btn gamble">
                    <span class="gamble-btn">
                      gamble
                    </span>
                    <i class="fa-solid fa-dice"></i>
                  </button>
                </form>
              </div>
          
        
            </div>
          </footer>
        </div>
   
      </div>
    </section>
    <script>

 
      </script>
  </body>
</html>
