<!DOCTYPE html>
<html lang="en">
  <!-- Include the head partial -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Include the navigation partial -->
    <%- include('../partials/_nav.ejs') %>

    <section id="edit-lineup">
      <%   const isUser = user._id.toString() === lineups?.owner._id.toString() %>
<% if (isUser) { %>
  <h1>Roll the Dice</h1>

  <!-- Lineup Container -->
       <div class="lineup-container">
        <!-- Single Lineup Card -->
        <div class="lineup-card">
          <!-- Players Display for Gamble -->
          <div class="lineup-players gamble">
            <!-- Existing Player -->
            <div class="player">
              <img
                src="<%= player.imgUrl %>"
                alt="<%= player.firstName %> <%= player.lastName %>"
              />
              <div class="player-text gamble">
                <span class="player-name">
                  <%= player.firstName %> <%= player.lastName %>
                </span>
                <span class="player-value"> Value: $<%= player.value %> </span>
              </div>
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <% if (randomPlayer) { %>
            <!-- Random Player -->
            <div class="player random">
              <img src="<%= randomPlayer.imgUrl %>" alt="mystery player" />
              <div class="player-text gamble">
                <span class="player-name">
                  Name: <%= randomPlayer.firstName %> <%= randomPlayer.lastName
                  %>
                </span>
                <span class="player-value">
                  Value: $<%= randomPlayer.value %>
                </span>
              </div>
            </div>
            <% } else { %>
            <!-- Mystery Player -->
            <div class="player mystery">
              <img src="/images/misc/default-user.jpg" alt="mystery player" />
              <div class="player-text gamble">
                <span class="player-name"> Name: ??? </span>
                <span class="player-value"> Value: $? </span>
              </div>
            </div>
            <span class="loader hide"></span>
            <% } %>
          </div>

          <!-- Lineup Footer with Actions -->
          <footer class="lineup-footer">
            <div class="lineup-actions">
              <% if (randomPlayer) { %>
              <!-- Cancel Button -->
              <div class="move-btn-container">
                <button type="submit" class="lineup-btn up-vote">
                  <span>
                    <a
                      class="cancel-btn"
                      href="/lineups/<%= lineup._id %>/edit"
                    >
                      back to lineup edit
                    </a>
                  </span>
                  <i class="fa-solid fa-arrow-rotate-left"></i>
                </button>
              </div>
              <% } else { %>
              <!-- Cancel Button -->
              <div class="move-btn-container">
                <button type="submit" class="lineup-btn up-vote">
                  <span>
                    <a
                      class="cancel-btn"
                      href="/lineups/<%= lineup._id %>/edit"
                    >
                      cancel
                    </a>
                  </span>
                  <i class="fa-solid fa-ban"></i>
                </button>
              </div>
              <!-- Gamble Button -->
              <div class="comment-btn-container">
                <form
                  id="gamble-form"
                  action="/lineups/<%= lineup._id %>/gamble/<%= player._id %>?_method=PUT"
                  method="POST"
                >
                  <button
                  <% if (lineup.timesGambled > 2) { %>
                    disabled
                   <% } %>
                    type="submit"
                    class="lineup-btn gamble initiate-gamble  <% if (lineup.timesGambled > 2) { %>
                        disabled-btn
                       <% } %>"
                  >
                    <span class="gamble-btn"> gamble </span>
                    <i class="fa-solid fa-dice"></i>
                  </button>
                </form>
              </div>
              <% } %>
            </div>
          </footer>
        </div>
      </div>
    <%- include('../partials/sidenav.ejs') %>

    </section>
  <script src="/js/sidenav.js"></script>

    <script>
      const gambleForm = document.querySelector("#gamble-form");
      const gambleViewGambleBtn = document.querySelector(
        ".gamble.lineup-btn.initiate-gamble"
      );
      const loader = document.querySelector('.loader')
      const mysteryPlayer = document.querySelector(".player.mystery");
    
      // Delay the form submission
      gambleViewGambleBtn?.addEventListener("click", (e) => {
        e.preventDefault(); // Prevent the default form submission
        mysteryPlayer.classList.add("fade-out");
  
        loader.classList.remove("hide");
        loader.classList.add("fade-in");
        loader.classList.add("quick");
        console.log(mysteryPlayer);
        setTimeout(() => {
          console.log("i am trying to delay the HTTP request");
          gambleForm.submit(); // Submit the form after 3 seconds
        }, 1750);
      });
    </script>
<% } else {%>
 <h1>You are not the owner of this lineup, please try a new page</h1>
 <a href="/lineups/explore">
   <button>View Explore Lineups</button>
 </a>

<% } %>
  </body>
</html>
