<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <section id="create-lineup">
      <div class="left-container">
        <h1>Create a Lineup</h1>
        <div class="grid">
          <div class="row-container">
            <h2>$5</h2>
            <div class="row">
              <% value5Players.forEach(player => { %>
              <div class="player-container">
                <div class="cell">
                  <img src="<%= player.imgUrl %>" alt="Player" data-value="5" />
                </div>
                <div class="player-name">
                  <span><%= player.firstName %></span>
                  <span><%= player.lastName %></span>
                </div>
              </div>
              <% }); %>
            </div>
          </div>

          <div class="row-container">
            <h2>$4</h2>
            <div class="row">
              <% value4Players.forEach(player => { %>
              <div class="player-container">
                <div class="cell">
                  <img src="<%= player.imgUrl %>" alt="Player" data-value="4" />
                </div>
                <div class="player-name">
                  <span><%= player.firstName %></span>
                  <span><%= player.lastName %></span>
                </div>
              </div>
              <% }); %>
            </div>
          </div>

          <div class="row-container">
            <h2>$3</h2>
            <div class="row">
              <% value3Players.forEach(player => { %>
              <div class="player-container">
                <div class="cell">
                  <img src="<%= player.imgUrl %>" alt="Player" data-value="3" />
                </div>
                <div class="player-name">
                  <span><%= player.firstName %></span>
                  <span><%= player.lastName %></span>
                </div>
              </div>
              <% }); %>
            </div>
          </div>

          <div class="row-container">
            <h2>$2</h2>
            <div class="row">
              <% value2Players.forEach(player => { %>
              <div class="player-container">
                <div class="cell">
                  <img src="<%= player.imgUrl %>" alt="Player" data-value="2" />
                </div>
                <div class="player-name">
                  <span><%= player.firstName %></span>
                  <span><%= player.lastName %></span>
                </div>
              </div>
              <% }); %>
            </div>
          </div>

          <div class="row-container">
            <h2>$1</h2>
            <div class="row">
              <% value1Players.forEach(player => { %>
              <div class="player-container">
                <div class="cell">
                  <img src="<%= player.imgUrl %>" alt="Player" data-value="1" />
                </div>
                <div class="player-name">
                  <span><%= player.firstName %></span>
                  <span><%= player.lastName %></span>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="selected-players">
          <% for (let i = 0; i < 5; i++) { %>
          <div class="selected-cell"></div>
          <% } %>
        </div>

        <form id="lineupForm" action="/lineups/new" method="POST">
          <input type="hidden" name="newLineup" id="newLineup" />
          <button type="submit" class="confirm-button">Confirm Lineup</button>
        </form>
      </div>
    </section>
    <script>
      const players = document.querySelectorAll(".player-container");
      const selectedCells = document.querySelectorAll(".selected-cell");
      const removePlayerBtns = document.querySelectorAll(".remove-player-btn");
      function confirmLineup() {
        document.getElementById("lineupForm").submit();
      }

      players.forEach((player) => {
        player.addEventListener("click", function (e) {
          // const playerValue = this.getAttribute('data-value');

          addPlayerToLineupRow(this);
        });
      });

      function addPlayerToLineupRow(player) {
        // get value of the player img src
        const playerImg = player.querySelector(".cell > img").src;

        // clone player to add to potential lineup
        const clonedPlayer = player.cloneNode(true);

        for (const cell of selectedCells) {
          // find the value of the img in the lineup squares
          const selectedCellImg = cell.querySelector(
            ".player-container > .cell > img"
          )?.src;
          //  early return if one of the image src is found in the lineup to submit
          if (selectedCellImg === playerImg) return;
          // if the space is empty then proceed
          if (cell.innerHTML === "") {
            // creating the remove player button
            const removePlayer = document.createElement("div");
            removePlayer.innerHTML = "<span>x</span>";
            cell.appendChild(removePlayer);
            removePlayer.classList.add("remove-player-btn");

            // add event listener to btn as it is created
            removePlayer.addEventListener("click", (e) => {
              e.stopPropagation();
              removePlayerFromLineupRow(player, cell);
            });
            cell.style.border = "none";
            // append a clone to preserve the player on the original grid
            cell.appendChild(clonedPlayer);
            // set filters to indicate to user that the player has been selected
            player.classList.add("dim-player");
            break;
          }
        }
      }
      // remove player from potential lineup
      function removePlayerFromLineupRow(originalPlayer, cell) {
        //  cell.style.border = '';
        cell.innerHTML = "";
        originalPlayer.classList.remove("dim-player");
      }

      document
        .querySelector(".confirm-button")
        .addEventListener("click", confirmLineup);
    </script>
  </body>
</html>
